.skills-container {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.top-skill-title {
  padding-top: 2.5rem;
  opacity: 0;
  animation-name: fadeintitle;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 1s;
}

.skill-card {
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 200px;
  height: 175px;
  border: black solid 2px;
  text-align: center;
}

.skill-image {
  padding: 10px;
  height: 80%;
  width: auto;
}

.skill-title {
  text-align: center;
  opacity: 0;
  font-size: 0.9rem;
  animation-name: fadeintitle;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 100ms;
}

/* Transitions */
@keyframes fadeintitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Media Queryfor laptops */
@media only screen and (min-width: 600px) {
  .skills-card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
 
}

